<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
<!--xmlns:context="http://www.springframework.org/schema/context"-->
    <!--<context:component-scan base-package="cz.muni.fi.pompe.crental"></context:component-scan>-->
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="CarRentalPUInMemory" />
    </bean>
    
    <!-- Transaction management -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <bean id="carDao" class="cz.muni.fi.pompe.crental.dao.impl.DAOCarImpl">
        <constructor-arg ref="entityManagerFactory"></constructor-arg>
    </bean>
    
    <bean id="carService" class="cz.muni.fi.pompe.crental.service.CarService">
        <constructor-arg ref="carDao"></constructor-arg>
    </bean>

    <bean id="employeeDao" class="cz.muni.fi.pompe.crental.dao.impl.DAOEmployeeImpl">
        <constructor-arg ref="entityManagerFactory"></constructor-arg>
    </bean>
    
    <bean id="employeeService" class="cz.muni.fi.pompe.crental.service.EmployeeService">
        <constructor-arg ref="employeeDao"></constructor-arg>
    </bean>

</beans>