/* 
    Document   : crental
    Created on : 18.11.2013, 11:00:57
    Author     : Patrik Pompe <325292@mail.muni.cz>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

